/* Typography */
$font-stack: "IBM Plex Sans", sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 500;
$font-size-large: 38px;
$font-size-medium: 24px;
$font-size-small: 12px;
$font-size-x-small: 10px;

/* Colors */
$primary-text-color: #e8eaed;
$secondary-text-color: #aaaaaa;
$light-grey-text-color: #9ba0b3;
$primary-background: #101014;
$secondary-background: #1f2128;
$card-background: #16171d;

/* Layout */
$container-width: 1140px;
$spacing-large: 80px;
$spacing-small: 30px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  background: $primary-background;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button,
select {
  background: none;
  border: none;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  margin: $spacing-large 0;
  color: $primary-text-color;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

.filter-mobile {
  width: 100%;
  height: 50px;
  background: $secondary-background;
  color: $primary-text-color;
  text-align: center;
  padding-left: 20px;
  font-size: $font-size-small;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 9px),
    calc(100% - 15px) calc(1em + 9px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    display: none;
  }

  &:focus {
    background-image: linear-gradient(45deg, grey 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, grey 50%);
    background-position: calc(100% - 15px) 1.5em, calc(100% - 20px) 1.5em,
      calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }

  option {
    font-family: $font-stack;
    font-size: $font-size-small;
    text-transform: uppercase;
    letter-spacing: 3px !important;
  }
}

.filter {
  background: $secondary-background;
  border-radius: 10px;
  display: none;

  @media (min-width: 768px) {
    display: block;
  }

  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px 0;

    button {
      padding: 0 30px;
      font-size: $font-size-small;
      font-weight: $font-weight-regular;
      color: $secondary-text-color;
      text-transform: uppercase;
      letter-spacing: 3px;

      &:focus {
        outline: none;
      }

      &.active {
        color: $primary-text-color;
        font-weight: $font-weight-bold;
      }
    }
  }
}

.results {
  width: 100%;
  margin-top: $spacing-small;
  margin-bottom: $spacing-large;
  display: flex;
  flex-wrap: wrap;

  &:hover {
    .card {
      opacity: 0.3;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 250px;
    margin-top: 13px;
    /* margin-right: 13px; */
    background: $card-background;
    transition: 0.25s;

    @media (min-width: 540px) and (max-width: 760px) {
      width: calc(50% - 8px);
      margin-right: 13px;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media (min-width: 760px) {
      margin-right: 13px;
      width: calc(33% - 8px);
      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    /*     &:nth-child(4n) {
      margin-right: 0;
    } */

    &:hover {
      opacity: 1;
      transform: translateY(-5px);
      cursor: pointer;
    }

    .card-title {
      font-size: $font-size-medium;
      font-weight: $font-weight-bold;
      color: $primary-text-color;
      margin-bottom: 20px;
    }

    .card-text {
      color: $secondary-text-color;
    }

    .category {
      font-size: $font-size-small;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: $light-grey-text-color;
    }

    .card-body,
    .card-footer {
      padding: 20px;
    }

    .card-header {
      min-height: 150px;
      background: $primary-text-color;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card-footer {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}
